body {text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #3e4142;}

#whitebg {background-color: white;}

* {font-family: Arial, Helvetica, sans-serif;}

h1 {color: #A80A0A;
    text-align: center;
    -webkit-text-stroke-width: 0.1vh;
    -webkit-text-stroke-color:  lightgray;}

h2 {text-align: left;
    font-size: 4vh;
    color: white;}

@media only screen and (max-width: 480px) {
    h2 {font-size: 2.5vh;}
}

h3 {font-weight: lighter;
    color: white;}

h4 {font-size: 4vh;
    margin: 0;
    color: white;}

h5 {font-size: 3vh;
    color: white;}

p {text-align: center;
    font-size: 3vh;
    color: white;}

b {font-weight: bold;
    color: white;}

a {color: lightblue}

a:visited {color: lightblue;}

button {display: inline-block;
    border: none;
    width: 100%;
    font-size: 5vh;
    margin-bottom: 10px;}

@media(hover: hover) and (pointer: fine) {
    button:hover {cursor: pointer;
        background-color: darkgray;}
}

#tutorial_container {display: inline-block;}

#toTop {border-radius: 24px;
    position: fixed;
    width: auto;
    height: auto;
    font-size: 3vh; 
    bottom: 4vh;
    right: 4vh;
    padding: 0 1vh 0 1vh;
    display: none;}

@media only screen and (min-width: 640px) {
    #tutorial_container {max-width: 640px;}
}

.pc_image {max-width: 100%;}

@media only screen and (min-width: 640px) {
    .pc_image {max-width: 640px;}
}

.phone_image_1 {width: 100%;}

@media only screen and (min-width: 292px) {
    .phone_image_1 {max-width: 292px;}
}

.phone_image_2 {width: 100%;}

@media only screen and (min-width: 270px) {
    .phone_image_2 {max-width: 270px;}
}