body {text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;}

h1 {color: red;
    text-align: center;}

h2 {text-align: left;
    font-size: 3vh;}

@media only screen and (max-width: 480px) {
    h2 {font-size: 2.5vh;}
}

h3 {font-weight: lighter;}

h4 {font-size: 4vh;
    margin: 0;}

h5 {font-size: 3vh;}

p {text-align: center;
    font-size: 2vh;}

b {font-weight: bold;}

button {display: inline-block;
    border: none;
    width: 100%;
    font-size: 5vh;
    margin-bottom: 10px;}

button:hover {cursor: pointer;
    background-color: lightgray;}

#tutorial_container {display: inline-block;}

#toTop {border-radius: 2vh;
    position: fixed;
    width: auto;
    height: auto;
    font-size: 3vh;
    bottom: 4vh;
    right: 4vh;}

@media only screen and (min-width: 640px) {
    #tutorial_container {max-width: 640px;}
}

.pc_image {max-width: 100%;}

@media only screen and (min-width: 640px) {
    .pc_image {max-width: 640px;}
}

.phone_image_1 {width: 100%;}

@media only screen and (min-width: 292px) {
    .phone_image_1 {max-width: 292px;}
}

.phone_image_2 {width: 100%;}

@media only screen and (min-width: 270px) {
    .phone_image_2 {max-width: 270px;}
}